<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/11e90dd4-ab3c-4d3c-92df-a2830ea09ffd/resourceGroups/Default/providers/Microsoft.Web/sites/BeTherServer</ResourceId>
    <ResourceGroup>Default</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://betherserver.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://betherserver.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$BeTherServer</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>